CakePromotion/CakePromotion/Service References/CakePromoServiceWin/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CakePromo.BusinessLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CakePromo.BusinessLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ingredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cake" nillable="true" type="tns:ArrayOfCake" />
      <xs:element minOccurs="0" name="IngredientID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="tns:Unit" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingredient" nillable="true" type="tns:Ingredient" />
  <xs:complexType name="ArrayOfCake">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cake" nillable="true" type="tns:Cake" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCake" nillable="true" type="tns:ArrayOfCake" />
  <xs:complexType name="Cake">
    <xs:sequence>
      <xs:element minOccurs="0" name="CakeID" type="xs:int" />
      <xs:element minOccurs="0" name="CakePhoto" nillable="true" type="tns:ArrayOfCakePhoto" />
      <xs:element minOccurs="0" name="Ingredient" nillable="true" type="tns:ArrayOfIngredient" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="tns:ArrayOfRate" />
      <xs:element minOccurs="0" name="Recipie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cake" nillable="true" type="tns:Cake" />
  <xs:complexType name="ArrayOfCakePhoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CakePhoto" nillable="true" type="tns:CakePhoto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCakePhoto" nillable="true" type="tns:ArrayOfCakePhoto" />
  <xs:complexType name="CakePhoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CakePhotoID" type="xs:int" />
      <xs:element minOccurs="0" name="PhotoURL_Large" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoURL_Small" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CakePhoto" nillable="true" type="tns:CakePhoto" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact" nillable="true" type="tns:ArrayOfContact" />
      <xs:element minOccurs="0" name="Personal" nillable="true" type="tns:Personal" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" type="xs:int" />
      <xs:element minOccurs="0" name="ContactID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" type="xs:int" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="Personal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthdate" type="xs:int" />
      <xs:element minOccurs="0" name="Name" type="xs:int" />
      <xs:element minOccurs="0" name="PersonalID" type="xs:int" />
      <xs:element minOccurs="0" name="Surname" type="xs:int" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personal" nillable="true" type="tns:Personal" />
  <xs:complexType name="ArrayOfIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ingredient" nillable="true" type="tns:Ingredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredient" nillable="true" type="tns:ArrayOfIngredient" />
  <xs:complexType name="ArrayOfRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rate" nillable="true" type="tns:Rate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRate" nillable="true" type="tns:ArrayOfRate" />
  <xs:complexType name="Rate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Design" type="xs:int" />
      <xs:element minOccurs="0" name="Facilitate" type="xs:int" />
      <xs:element minOccurs="0" name="RateID" type="xs:int" />
      <xs:element minOccurs="0" name="Taste" type="xs:int" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rate" nillable="true" type="tns:Rate" />
  <xs:complexType name="Unit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitID" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Unit" nillable="true" type="tns:Unit" />
</xs:schema>