CakePromotion/CakePromotion/Service References/CakePromoService/CakePromoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://yiannisswin7-64.cyprus.bbd.co.za/CakePromotion/CakePromoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://yiannisswin7-64.cyprus.bbd.co.za/CakePromotion/CakePromoService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/CakePromo.BusinessLogic" />
  <xs:element name="GetAllCakesEager">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCakesEagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllCakesEagerResult" nillable="true" type="q1:ArrayOfArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCakeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCakeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CakePromo.BusinessLogic" minOccurs="0" name="GetCakeByIDResult" nillable="true" type="q2:Cake" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientsByCakeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CakeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientsByCakeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CakePromo.BusinessLogic" minOccurs="0" name="GetIngredientsByCakeIDResult" nillable="true" type="q3:ArrayOfIngredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCakes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCakesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CakePromo.BusinessLogic" minOccurs="0" name="GetAllCakesResult" nillable="true" type="q4:ArrayOfCake" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>