CakePromotion/CakePromotion/Service References/CakePromoService/Main.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Main" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://yiannisswin7-64.cyprus.bbd.co.za/CakePromotion/CakePromoService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://yiannisswin7-64.cyprus.bbd.co.za/CakePromotion/CakePromoService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://yiannisswin7-64.cyprus.bbd.co.za/CakePromotion/CakePromoService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/CakePromo.BusinessLogic" />
      <xsd:import schemaLocation="http://yiannisswin7-64.cyprus.bbd.co.za/CakePromotion/CakePromoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMain_GetAllCakesEager_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCakesEager" />
  </wsdl:message>
  <wsdl:message name="IMain_GetAllCakesEager_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCakesEagerResponse" />
  </wsdl:message>
  <wsdl:message name="IMain_GetCakeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCakeByID" />
  </wsdl:message>
  <wsdl:message name="IMain_GetCakeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCakeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMain_GetIngredientsByCakeID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientsByCakeID" />
  </wsdl:message>
  <wsdl:message name="IMain_GetIngredientsByCakeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientsByCakeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMain_GetAllCakes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCakes" />
  </wsdl:message>
  <wsdl:message name="IMain_GetAllCakes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCakesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMain">
    <wsdl:operation name="GetAllCakesEager">
      <wsdl:input wsaw:Action="http://tempuri.org/IMain/GetAllCakesEager" message="tns:IMain_GetAllCakesEager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMain/GetAllCakesEagerResponse" message="tns:IMain_GetAllCakesEager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCakeByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMain/GetCakeByID" message="tns:IMain_GetCakeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMain/GetCakeByIDResponse" message="tns:IMain_GetCakeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredientsByCakeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMain/GetIngredientsByCakeID" message="tns:IMain_GetIngredientsByCakeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMain/GetIngredientsByCakeIDResponse" message="tns:IMain_GetIngredientsByCakeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCakes">
      <wsdl:input wsaw:Action="http://tempuri.org/IMain/GetAllCakes" message="tns:IMain_GetAllCakes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMain/GetAllCakesResponse" message="tns:IMain_GetAllCakes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMain" type="tns:IMain">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCakesEager">
      <soap:operation soapAction="http://tempuri.org/IMain/GetAllCakesEager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCakeByID">
      <soap:operation soapAction="http://tempuri.org/IMain/GetCakeByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredientsByCakeID">
      <soap:operation soapAction="http://tempuri.org/IMain/GetIngredientsByCakeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCakes">
      <soap:operation soapAction="http://tempuri.org/IMain/GetAllCakes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Main">
    <wsdl:port name="BasicHttpBinding_IMain" binding="tns:BasicHttpBinding_IMain">
      <soap:address location="http://yiannisswin7-64.cyprus.bbd.co.za/CakePromotion/CakePromoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>